:root {
    background-image: url("https://i.imgur.com/UnxtqDu.jpg");
    font-size: 62.5%; /* 10 pixels */
    justify-content: center;
    align-items: center;

}
.btn {
    color: black;
    display: flex;
    font-size: 252%;
    text-decoration: none;
    border-style: solid;
    border-width: 2rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}
body {
    background-color: lightgrey;
    border-style: groove;
    border-width: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-left: 1rem;
}
h1, h2, h3, h4 {
    margin-bottom: 1rem;
}
h1 {
    font-size: 5.4rem; /*4 pixels */
    color: rgba(200, 247, 197, 1);
    margin-bottom: 2.3rem;
    margin-right: 0.5rem;
    margin-top: 2.3rem;
}
h1 > span {
    font-size: 2.4rem;
    font-weight: 700;
}
h2 {
    font-size: 4.2rem; /* 42 pixls */
    margin-bottom: 4rem;
    font-weight: 700
}
h3 {
    font-size: 2.8rem;
    font-weight: 500;
}
.container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 2.4rem 0 rgba(0, 230, 64, 1);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

/* for accepting high scores - */
.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}
@media screen and (min-width: 700px) {
    body {
        border-style: dashed;
        border-width: 12rem;
    }
}
@media screen and (min-width: 1050px) {
    * {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: 0;
        margin-bottom: 1rem;
        padding: 0;
        max-height: 160rem;
    }
    .btn {
        padding: 1rem;
        margin-bottom: 1rem;
    }
    body {
        border-style: dashed;
        border-width: 12rem;
    }
}

@media screen and (min-width: 1200px) {
    * {
        flex-direction: row;
        min-height: 20rem;
        margin-top: 3.5rem;
        margin-left: 1rem;
        max-width: 82.5rem;
    }
    .btn {
        display: block;
        margin-right: 0.12rem;
        margin-left: 0.12rem;
        padding-right: 2rem;
    }
}
